



.top-box{
    display: flex;
    max-height: 400px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    /* border-radius: 5px; */
    margin: 2%;
    /* width: 100%; */

}

.image-container{
    width: 60%;
    margin: auto;
    /* max-height: 400px; */
}

.content img{
    width: 500px;
    max-height: 350px;
    margin: 2% 4% 0% 4%;
}

.form-container{
    width: 30%;
    border-left: 1px solid;

}

.form-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding: 6% 0%;

}

.form-container form .input-group{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;

}
.form-container form .input-group input{
    width: 60%;
}
.hotel-details{
    margin: 1% 4% 2% 4%;
}