



.top-box{
    display: flex;
    max-height: 400px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    margin: 2%;
}

.image-container{
    width: 58%;
    text
    margin: 1% auto;
}

.content img{
    width: 500px;
    max-height: 350px;
}

.form-container{
    width: 30%;
    border-left: 1px solid;
}

.form-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding: 6%;
}

.form-container form .input-group{
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
    box-sizing: border-box;

}
.form-container form .input-group input{
    width: 60%;
}


.book-now{
    text-align: center;
}

.book-now input{
    padding: 1% 2%;
}

.hotel-details{
    margin: 1% 4% 2% 4%;
}