
/******************** Content ******************/

.content img{
    width: 150px;
    height: 150px;
}

.search-bar{
    background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg') n;
}